 .skill_container {
     display: flex;
     gap: 20px;
     justify-content: center;
     align-items: center;
     padding-top: 40px;

 }

 .skill {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     padding: 0 15px;

 }



 .skill_carddd {
     display: flex;
     align-items: start;
     justify-content: start;
     flex-direction: column;

 }

 @media (max-width: 1024px) {
     .skills_grid {
         grid-template-columns: repeat(3, 1fr);
     }
 }

 @media (max-width: 600px) {
     .skills_grid {
         grid-template-columns: 1fr;
     }
 }

 .kard {
     width: 370px;
     padding: 20px;
     border-radius: 16px;
     background: #0b1220;
     border: 1px solid rgba(255, 255, 255, 0.1);
     color: #fff;
     transition: 0.3s;
     position: relative;
     height: 180px;
     margin-bottom: 20px;



     &:hover {
         transform: scale(1.05);
         border-color: #00e0ff;
         box-shadow: 0 0 20px rgba(0, 224, 255, 0.3);
     }

     &__top {
         display: flex;
         align-items: center;
         gap: 12px;
         margin-bottom: 20px;
     }

     &__icon {
         width: 50px;
         height: 50px;
         border-radius: 12px;
         background: linear-gradient(135deg, #3b82f6, #60a5fa);
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 20px;
         transition: 0.3s;
     }

     &__title {
         font-size: 20px;
         font-weight: 600;
         transition: 0.3s;
     }

     &__text {
         color: #9ca3af;
         margin-bottom: 8px;
     }

     &__progress {
         width: 100%;
         height: 8px;
         background: #1f2937;
         border-radius: 10px;
         overflow: hidden;
     }

     &__progress-fill {
         height: 100%;
         background: linear-gradient(90deg, #3b82f6, #60a5fa);
         border-radius: 10px;
         transition: 0.3s;
     }

     &__percent {
         position: absolute;
         right: 20px;
         bottom: 20px;
         color: #38bdf8;
         font-weight: 600;
         transition: 0.3s;
     }

     &:hover .kard__icon {
         background: linear-gradient(135deg, #00e0ff, #00ffa3);
     }

     &:hover .kard__title {
         color: #00e0ff;
     }

     &:hover .kard__progress-fill {
         background: linear-gradient(90deg, #00e0ff, #00ffa3);
     }

     &:hover .kard__percent {
         color: #00ffa3;
     }



     .kard__icon:nth-child(2) {
         background: #ececec;
         color: #000;
     }



 }





 .skill_last {
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 30px;
     margin-top: 50px;
     margin-bottom: 100px;

 }

 .skill_last_title {
     font-size: 28px;
     background: linear-gradient(90deg, #00e0ff, #00ffa3);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
 }

 .expertise {
     display: flex;
     align-items: center;
     gap: 20px;

 }

 .expertise_text {
     color: #ffffff;
     font-size: 15px;
     background-color: rgb(72, 73, 75);
     border-radius: 20px;
     font-weight: 400;
     padding: 6px 14px;
 }



 .expertise_text:hover {
     background-color: rgb(72, 73, 75);
     color: #00e0ff;
     transition: 0.3s;

 }


 .expertise:hover {
     color: rgb(0, 85, 255);
     color: #00e0ff;
     transition: 0.3s;


 }

 .skill_title {
     font-size: 36px;

     text-align: center;
     margin-top: 20px;
     padding: 0 15px;
 }

 .skill_line {
     width: 13%;
     height: 4px;
     margin: 0 auto;
     border-radius: 2px;
 }





 @media (max-width: 1300px) {
     .skill_container {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 20px;
         padding-top: 0px;
         width: 100%;
     }

     .kard {
         width: 100%; // ❗ fixed width olib tashlandi
         max-width: 370px;
         margin: 0 auto;
     }

     .kard {
         margin-top: 20px;
     }

     .expertise {
         flex-wrap: wrap;
         justify-content: center;
     }



 }

 @media (max-width: 1200px) {
     .skill_container {
         grid-template-columns: repeat(3, 1fr);
         gap: 18px;
     }

     .skill_last {
         flex-wrap: wrap;
     }


 }

 /* 900px ↓ */
 @media (max-width: 900px) {
     .skill_container {
         grid-template-columns: repeat(2, 1fr);
         gap: 18px;
     }

     .skill_last {
         flex-wrap: wrap;
         margin-top: 30px;
         margin-bottom: 70px;
     }

     .skill {
         gap: 15px;
     }

     .skill_last {
         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 30px;

     }
 }

 /* 800px ↓ */
 @media (max-width: 800px) {
     .skill_container {
         grid-template-columns: repeat(2, 1fr);
     }

     .kard {
         max-width: 320px;
     }

     .skill {
         gap: 10px;
     }

     .skill_last {
         gap: 20px;
         flex-wrap: wrap;
         margin-top: 20px;
         margin-bottom: 50px;
     }

 }

 /* 700px ↓ */
 @media (max-width: 700px) {


     .skill_container {
         grid-template-columns: repeat(1, 1fr);
     }

     .skill {
         gap: 10px;
     }

     .skill_last {
         gap: 20px;
         flex-wrap: wrap;
         margin-top: 10px;
         margin-bottom: 30px;
     }
 }

 /* 600px ↓ */
 @media (max-width: 600px) {

     .skill_title {
         font-size: 28px;
     }

     .kard {
         max-width: 100%;
     }

     .skill {
         gap: 10px;
     }

     .expertise {
         gap: 10px;

     }

     .skill_last {
         gap: 10px;
         flex-wrap: wrap;
         margin-top: 10px;
         margin-bottom: 20px;
     }
 }

 /* 500px ↓ */
 @media (max-width: 500px) {

     .skill {
         gap: 4px;

     }

     .expertise {
         gap: 10px;

     }

     .skill_last {
         gap: 10px;
         flex-wrap: wrap;
         margin-top: 5px;
         margin-bottom: 0px;
     }

     .skill_container {
         gap: 0;
     }

     .expertise_text {
         font-size: 14px;
         font-weight: 300;
         padding: 4px 10px;
     }

     .skill_last_title {
         font-size: 25px;
     }

     .kard {
         padding: 16px;
         height: auto;
     }

     .kard__title {
         font-size: 18px;
     }

     .kard__icon {
         width: 40px;
         height: 40px;
         font-size: 18px;
     }

     .kard__percent {
         right: 25px;
         bottom: 25px;
     }
 }


 @media (max-width: 400px) {
     .skill {
         margin-bottom: 70px;
     }

     .skill_last_title {
         font-size: 24px;
     }

     .expertise_text {
         font-size: 13px;
         padding: 4px 10px;
     }


     .skill_last {
         flex-wrap: wrap;
     }

     .skill_title {
         font-size: 22px;
     }

     .kard__text {
         font-size: 13px;
     }

     .kard__percent {
         font-size: 13px;
     }
 }

 @media (max-width: 360px) {
     .skill {
         margin-bottom: 90px;
     }
 }